.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.icon-delete {
	color: rgb(190, 21, 21);
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.list-group {
		width: 22rem;
		margin-bottom: 15px;
	}
}
